*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container{
    width: 100vw;
    display: block;
}

.product-list{

    width: 100%;
    display: block;
    /* grid-template-columns: repeat(3,ltr); */
    /* display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center; */
    
}

.product-item{
    display: inline-block;
    padding: 20px;
    margin-left: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.product-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#product-name{
    font-size: x-large;
    font-family:Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
#product-name:hover{
    color: rgb(47, 47, 245);
    cursor: pointer;
}
#product-price{
    font-weight:600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.product-details{
    padding: 8px;
}

.add-button{
    cursor: pointer;
    border: none;
    padding: 7px;
    background-color: rgb(93, 191, 240);
    border-radius: 5px;
    color: aliceblue;
}

.popup-details{
    font-weight: 600;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.popup-container{
    position: fixed;
    top :0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.413);
    padding-top: 10%;

}
.popup-body{
    width: 70%;
    height: 70%;
    background-color: white;
    border-radius: 10px;
    margin: auto;
}
.popup-header{
    width: 100%;
    text-align: right;
}

.popup-content{
    margin-left: 5%;
    margin-top: 4%;
}
.alignment{
    padding: 10px;
    font-size: large;
}

